@charset "utf-8";
/* CSS Document */

a.btn-org, span.blk-org{
	float:left;
	font-family: 'PTSansBold';
	background:url(../images/larg_button.png) no-repeat;
	height:35px;
	cursor:pointer;
	line-height:36px;
	font-size:14px;
	text-transform:uppercase;
	color:#ffffff;
	font-weight:bold;
	color:#fff;
	margin:10px 0 0 0;
	text-shadow: 0px -1px 0px #a13e19;
}
a.btn-org{
	background-position:0 0;
}
span.blk-org{
	margin:0 0 0 3px;
	background-position: 100% -73px;
	padding:0px 34px 0px 26px;
}
a.btn-org:hover{
	background-position:0 -36px;
}
span.blk-org:hover{
	background-position: 100% -108px;
}


a.btn-grn, span.blk-grn{
	float:left;
	font-family: 'PTSansBold';
	background:url(../images/larg_button.png) no-repeat;
	height:35px;
	cursor:pointer;
	line-height:35px;
	font-size:13px;
	text-transform:uppercase;
	
	font-weight:bold;
	color:#fff;
	margin:10px 5px 0 0;
	text-shadow: 0px -1px 0px #315305;
}
a.btn-grn{
	background-position:0 -154px;
}
span.blk-grn{
	margin:0 0 0 4px;
	background-position: 100% -226px;
	padding:0px 23px 0px 17px;
}
a.btn-grn:hover{
	background-position:0 -190px;
}
span.blk-grn:hover{
	background-position: 100% -262px;
}


a.btn-gry, span.blk-gry{
	float:left;
	font-family: 'PTSansBold';
	background:url(../images/larg_button.png) no-repeat;
	height:35px;
	cursor:pointer;
	line-height:35px;
	font-size:13px;
	text-transform:uppercase;
	
	font-weight:bold;
	color:#fff;
	margin:10px 0 0 0;
	text-shadow: 0px -1px 0px #315305;
}
a.btn-gry{
	background-position:0 -308px;
}
span.blk-gry{
	margin:0 0 0 4px;
	background-position: 100% -380px;
	padding:0px 23px 0px 17px;
}
a.btn-gry:hover{
	background-position:0 -343px;
}
span.blk-gry:hover{
	background-position: 100% -416px;
}


a.small_btn-gry, span.small_blk-gry{
	float:left;
	font-family: 'PTSansBold';
	background:url(../images/small_btn.png) no-repeat;
	height:30px;
	cursor:pointer;
	line-height:31px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	margin:10px 0 0 0;
	text-shadow: 0px -1px 0px #202020;
}
a.small_btn-gry{
	background-position:0 0;
}
span.small_blk-gry{
	margin:0 0 0 4px;
	background-position: 100% -60px;
	padding:0px 19px 0px 15px;
}
a.small_btn-gry:hover{
	background-position:0 -30px;
}
span.small_blk-gry:hover{
	background-position: 100% -90px;
}


a.small_btn-org, span.small_blk-org{
	float:left;
	font-family: 'PTSansBold';
	background:url(../images/small_btn.png) no-repeat;
	height:30px;
	cursor:pointer;
	line-height:31px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	margin:10px 0 0 0;
	text-shadow: 0px -1px 0px #993a17;
}
a.small_btn-org{
	background-position:0 -130px;
}
span.small_blk-org{
	margin:0 0 0 4px;
	background-position: 100% -190px;
	padding:0px 19px 0px 15px;
}
a.small_btn-org:hover{
	background-position:0 -160px;
}
span.small_blk-org:hover{
	background-position: 100% -220px;
}

a.small_btn-grn, span.small_blk-grn{
	float:left;
	font-family: 'PTSansBold';
	background:url(../images/small_btn.png) no-repeat;
	height:30px;
	cursor:pointer;
	line-height:31px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	margin:10px 0 0 0;
	text-shadow: 0px -1px 0px #375a0a;
}
a.small_btn-grn{
	background-position:0 -260px;
}
span.small_blk-grn{
	margin:0 0 0 4px;
	background-position: 100% -320px;
	padding:0px 19px 0px 15px;
}
a.small_btn-grn:hover{
	background-position:0 -290px;
}
span.small_blk-grn:hover{
	background-position: 100% -350px;
}

a.small_btn-blk, span.small_blk-blk{
	float:left;
	font-family: 'PTSansBold';
	background:url(../images/small_btn.png) no-repeat;
	height:30px;
	cursor:pointer;
	line-height:31px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	margin:10px 0 0 0;
	text-shadow: 0px -1px 0px #1b1b1b;
}
a.small_btn-blk{
	background-position:0 -390px;
}
span.small_blk-blk{
	margin:0 0 0 4px;
	background-position: 100% -450px;
	padding:0px 19px 0px 15px;
}
a.small_btn-blk:hover{
	background-position:0 -420px;
}
span.small_blk-blk:hover{
	background-position: 100% -480px;
}