#container {
	width:860px;
	margin:0 auto;
	position: relative;
}

a:link, a:visited {
	color:#27b;
	text-decoration:none;
}

a img {
	border-width:0;
}
#topnav a.signin span{
	background:url(images/login_btn.png) no-repeat;
	height:29px;
	width:90px;
	float:right;
}
#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#565656;
	position:absolute;
	width:210px;
	margin:0 0 0 0;
	z-index:100;
	border:1px transparent;
	text-align:left;
	padding:12px;
	top: 24.5px; 
	right: 0px; 
	margin-top:1px;
	margin-right: 115px;
	*margin-right: -1px;
	color:#789;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #454545;
	font-size:13px;
	margin:3px 0 5px 0;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:0;
	
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
	color:#fff;
	font-size:13px;
	font-family: 'PTSansRegular';
	margin:10px 0 0 0;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#fff!important;
}
#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#ff7a21 repeat-x scroll 0 0;
	border:1px solid #e96a15;
	color:#fff;
	text-shadow:0 -1px 0 #e96a15;
	text-transform:uppercase;
	padding:4px 10px 5px;
	font-size:12px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.tipsy-inner {
	padding:10px 15px;
	line-height:1.5em;
	font-weight:bold;
}
.tipsy {
	opacity:.8;
	filter:alpha(opacity=80);
	background-repeat:no-repeat;
	padding:5px;
}
.tipsy-inner {
	padding:8px 8px;
	max-width:200px;
	font:11px 'Lucida Grande', sans-serif;
	font-weight:bold;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#000;
	color:white;
	text-align:left;
}
.tipsy-north {
	background-image:url(images/tipsy-north.gif);
	background-position:top center;
}
.tipsy-south {
	background-image:url(images/tipsy-south.gif);
	background-position:bottom center;
}
.tipsy-east {
	background-image:url(images/tipsy-east.gif);
	background-position:right center;
}
.tipsy-west {
	background-image:url(images/tipsy-west.gif);
	background-position:left center;
}
